In [1]:
import pandas as pd
import os

In [2]:
filename = "/Users/alecb/OneDrive/Desktop/Dropbox/Files/Bands/Biscuits Spreadsheet.xlsx"
# Print the path variable to make sure it contains the correct file path
print(filename)

# Check if the file exists
if os.path.exists(filename):
    # Check if the path points to a file
    if os.path.isfile(filename):
        print('File exists and path points to a file')
    else:
        print('Path points to a directory, not a file')
else:
    print('File does not exist')

/Users/alecb/OneDrive/Desktop/Dropbox/Files/Bands/Biscuits Spreadsheet.xlsx
File exists and path points to a file

In [3]:
xl_file = pd.ExcelFile(filename)

In [4]:
combined_data = pd.DataFrame()

In [5]:
sheet_names = xl_file.sheet_names
setlist_sheet_names = xl_file.sheet_names[:-5]

In [22]:
print(setlist_sheet_names)

['1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']

In [9]:
for sheet_name in sheet_names:
    sheet_data = xl_file.parse(sheet_name)
    combined_data = combined_data.append(sheet_data)

C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)
C:\Users\alecb\AppData\Local\Temp\ipykernel_41988\3229443601.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(sheet_data)

In [10]:
print(combined_data)

                    Date               Venue          City State  SBD  AUD  \
0    1997-01-17 00:00:00      Blarney Stone   Philadelphia    PA   No  Yes
1    1997-01-30 00:00:00  Wetlands Preserve       New York    NY  Yes  Yes
2    1997-02-05 00:00:00     Club Metronome     Burlington    VT  Yes   No
3    1997-02-06 00:00:00        Valentine's         Albany    NY   No   No
4    1997-02-08 00:00:00        Middle East      Cambridge    Ma  Yes   No
..                   ...                 ...           ...   ...  ...  ...
652  2017-05-28 00:00:00                 NaN           NaN   NaN  NaN  NaN
653  2017-08-24 00:00:00                 NaN           NaN   NaN  NaN  NaN
654  2017-08-24 00:00:00                 NaN           NaN   NaN  NaN  NaN
655  2017-09-20 00:00:00                 NaN           NaN   NaN  NaN  NaN
656  2017-10-28 00:00:00                 NaN           NaN   NaN  NaN  NaN

                    Notes Unnamed: 7  Aud       ... Unnamed: 3 AUDUP&BDUP  \
0                     NaN        NaN  NaN  NaN  ...        NaN        NaN
1    Rich Steele transfer        NaN  NaN  NaN  ...        NaN        NaN
2                     NaN        NaN  NaN  NaN  ...        NaN        NaN
3                     NaN        NaN  NaN  NaN  ...        NaN        NaN
4                     NaN        NaN  NaN  NaN  ...        NaN        NaN
..                    ...        ...  ...  ...  ...        ...        ...
652                   NaN        NaN  NaN  NaN  ...        NaN        NaN
653                   NaN        NaN  NaN  NaN  ...        NaN        NaN
654                   NaN        NaN  NaN  NaN  ...        NaN        NaN
655                   NaN        NaN  NaN  NaN  ...        NaN        NaN
656                   NaN        NaN  NaN  NaN  ...        NaN        NaN

    AUDDUP BDUP UDUP MDUP AUDDUP.1 BDUP.1 UDUP.1  AUDUP&BDUP.1
0      NaN  NaN  NaN  NaN      NaN    NaN    NaN           NaN
1      NaN  NaN  NaN  NaN      NaN    NaN    NaN           NaN
2      NaN  NaN  NaN  NaN      NaN    NaN    NaN           NaN
3      NaN  NaN  NaN  NaN      NaN    NaN    NaN           NaN
4      NaN  NaN  NaN  NaN      NaN    NaN    NaN           NaN
..     ...  ...  ...  ...      ...    ...    ...           ...
652    NaN  NaN  NaN  NaN      NaN    NaN    NaN           NaN
653    NaN  NaN  NaN  NaN      NaN    NaN    NaN           NaN
654    NaN  NaN  NaN  NaN      NaN    NaN    NaN           NaN
655    NaN  NaN  NaN  NaN      NaN    NaN    NaN           NaN
656    NaN  NaN  NaN  NaN      NaN    NaN    NaN           NaN

[5666 rows x 29 columns]

In [12]:
db_setlists = combined_data

In [21]:
db_setlists

,Date,Venue,City,State,SBD,AUD,Notes,Unnamed: 7,Aud,,...,Unnamed: 3,AUDUP&BDUP,AUDDUP,BDUP,UDUP,MDUP,AUDDUP.1,BDUP.1,UDUP.1,AUDUP&BDUP.1
0,1997-01-17 00:00:00,Blarney Stone,Philadelphia,PA,No,Yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997-01-30 00:00:00,Wetlands Preserve,New York,NY,Yes,Yes,Rich Steele transfer,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997-02-05 00:00:00,Club Metronome,Burlington,VT,Yes,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997-02-06 00:00:00,Valentine's,Albany,NY,No,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997-02-08 00:00:00,Middle East,Cambridge,Ma,Yes,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652,2017-05-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
653,2017-08-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654,2017-08-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
655,2017-09-20 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656,2017-10-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
pd.to_datetime(db_setlists['Date'])
db_setlists['Year'] = db_setlists['Date'].dt.year

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1219-12-31 00:00:00